.to-date::after {
    content: 'ถึง';
    position: absolute;
    top: 10px;
    right: -8px;
}

.text-aligns {
    text-align: end;
}

@media screen and (max-width: 1000px) {
    .gaps {
        gap: 0.5rem;
    }

    .text-aligns {
        text-align: start;
    }

    .to-date::after {
        content: '';
    }
}
